.no-of-projects{
    transform: translateY(-100px);
    &__container{
        >div{
            p{
                max-width: 260px;
                line-height: 1.3;
            }
        }
        .th-white{
            color: #fff;
        }
        .th-yellow{
            color: $tfYellow;
        }
        .th-min-green{
            color: $tfMint;
        }
    }
}