<!-- FOOTER :: START-->
<footer class="footer">
	<div class="footer__top">
		<div class="container">
			<div class="row">
				{{sitemaps|raw}}
				<div class="col-12">
					<a href="#">Pwer Cymru - Cymraeg</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom"></div>
</footer>
<!-- FOOTER :: END-->
