<!-- start hero block-->
<div class="hero blank ratio ratio-21x9 page-h-offset">
    <div
        class="hero__background">
        {# {{articles.article_image|raw}}  #}
        <img src="{{configs.cloudinary_url|raw}}f_auto,q_auto{{articles.article_image|raw}}" alt="{{articles.article_image_alt|raw}}">
        <div class="hero--band">
            <span>&nbsp;</span>
        </div>
    </div>
</div>
<!-- End hero block-->
