<!-- MOBILE NAVI-->
<div class="mobile-navi">
	<div class="mobile-navi__wrapper">
		<div class="mobile-navi__background"></div>
		<div class="mobile-navi__panel d-flex align-items-end flex-column">
			<ul class="mobile-navi__menu w-100">
				<li>
					<a href="homepage.html">About us</a>
				</li>
				<li>
					<a href="#">Our people</a>
				</li>
				<li>
					<a class="active" href="#">Projects</a>
				</li>
				<li>
					<a href="#">Services</a>
				</li>
				<li>
					<a href="#">Contact us</a>
				</li>
			</ul>
			<ul class="mobile-navi__menu small mt-auto w-100">
				<li>
					<a href="#">Terms &amp; conditions</a>
				</li>
				<li>
					<a href="#">Privacy notice &amp; policy</a>
				</li>
				<li>
					<a class="active" href="#">Pwer Cymru - Cymraeg</a>
				</li>
			</ul>
		</div>
	</div>
</div>
