<section class="projects mt-1">
	<div class="container pt-5 pb-4">
		<div class="row">
			<div class="col-12">
				<div class="title-strip red">
					<span class="pb-2 d-block"></span>
					<h2 class="mb-1">Discover our projects
						<!-- <a class="btn btn-outline-danger btn-sm float-end" href="#">View All</a> -->
					</h2>
				</div>
			</div>
			{{cases|raw}}
		</div>
	</div>
</section>
