<section class="red header-wrapper page-h-offset">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<p class="fs-4 fw-light mt-1">{{articles.article_title|raw}}<!-- <a class="btn btn-outline-light btn-sm float-end" href="#">Read More</a> -->
				</p>
			</div>
		</div>
	</div>
</section>
