          <section class="projects services mt-3"> 
            <div class="container">
              <div class="row"> 
                <div class="col-12 col-md-6 col-lg-4 project-item mb-4">
                  <div class="icon"><i class="icon-new-proj-design"></i></div>
                  <h2>Development Services</h2>
                  <p class="small">Welsh Power undertakes the full development process from site identification, through land acquisition, connection management, design, consents, procurement, finance and due diligence. </p><a class="btn btn-outline-success mt-1" href="#">Explore</a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 project-item mb-4">
                  <div class="icon"><i class="icon-battery-storage"></i></div>
                  <h2>Construction Management Services</h2>
                  <p class="small">Welsh Power can manage the construction of flexible power plant, grid stability plant, battery storage and wind turbines projects in the value range of £5m-£100m. We work with established contractors who meet our stringent safety, quality and environmental standards, ensuring projects deliver on programme and budget.</p>
                  <!-- a.btn.btn-outline-success.mt-1(href="#") Explore-->
                </div>
                <div class="col-12 col-md-6 col-lg-4 project-item mb-4">
                  <div class="icon"><i class="icon-power-generation"></i></div>
                  <h2>Operational Asset Management </h2>
                  <p class="small">Welsh Power undertakes the complete operational management of energy assets including maintenance, safety, regulatory management, trading and gas supply. Our resources, processes and systems effectively provide everything from 24/7 operations monitoring to cost reporting.</p><a class="btn btn-outline-success mt-1" href="#">Explore</a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 project-item mb-4">
                  <div class="icon"><i class="icon-engineering-truck"></i></div>
                  <h2>Compliance &amp; Regulatory Management</h2>
                  <p class="small">Welsh Power can lead an energy asset’s compliance and regulatory management including commercial matters such as revenue and cost reconciliation; including areas such as policy liaison and lobbying, settlement validation mechanisms the capacity market process. We can also arrange insurance covers.</p><a class="btn btn-outline-success mt-1" href="#">Explore </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 project-item mb-4">
                  <div class="icon"><i class="icon-mgmt-of-assets"></i></div>
                  <h2>Commercial Management/ Optimisation</h2>
                  <p class="small">Welsh Power can manage an energy assets’ commercial management through the various stages of Strategy; Route to market; the relationship with National Grid; Commercial trading and support with Major contracting.</p><a class="btn btn-outline-success mt-2" href="#">Explore </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 project-item mb-4">
                  <div class="icon"><i class="icon-power-plants"></i></div>
                  <h2>Cost Management</h2>
                  <p class="small">Welsh Power has strong experience of Cost Management and Identifying Savings and Improvements. We can help you by undertaking gaps analysis and review of your current costs – and we can help develop an Operations Budget.  </p>
                  <!-- a.btn.btn-outline-success.mt-1(href="#") Explore -->
                </div>
                <div class="col-12 col-md-6 col-lg-4 project-item mb-4">
                  <div class="icon"><i class="icon-power-plants"></i></div>
                  <h2>Corporate and Financial Management</h2>
                  <p class="small">Welsh Power can assist with your energy asset’s financial and corporate management.  From core services such as accounting, bookkeeping and cash management to financial reporting, accounts and audit. We can also offer excellent company secretarial services.</p><a class="btn btn-outline-success mt-1" href="#">Explore </a>
                </div>
              </div>
            </div>
          </section>
