<!-- HEADER :: START-->
<header class="header shadow">
	<div class="header__container js-container-align" data-position="right" data-selector=".header">
		<div class="header__wrapper">
			<a class="header__logo flex-fill" href="/index.html"><img class="img-fluid" src="/site/img/wplogo_2.png"></a>
			{{navs|raw}}
			<div class="header__hamburger d-lg-block d-lg-none">
				<div class="hamburger hamburger--squeeze" js-hamburger>
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
