<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "inc-common-meta.twig" %}
	</head>
	<body>
		<!-- place where pjax bindings happen's-->
		<div id="barba-wrapper">
			{% include "inc-common-header.twig" %}
			{% include "inc-common-mobilenav.twig" %}
			<!-- what should be changed with every pjax-->
			<div class="page">
				<main class="page__content ">
					{% include "inc-project-article.twig" %}
					{% include "inc-project-direction.twig" %}
					{% include "inc-projects-list.twig" %}
				</main>
				{% include "inc-common-footer.twig" %}
			</div>
			{% include "inc-common-footerscripts.twig" %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnjiYsD-qyRGYk5Jjr2cboLyTe-RFaocw"></script>
			<script type="text/javascript" src="/site/js/map.js"></script>
		</div>
	</body>
</html>
