section.mt-2.mb-4.intro-2-col
  .container 
    .row 
      .col-12.mb-3.mt-3 

        figure.figure
          img.figure-img.img-fluid.rounded.shadow(src='https://res.cloudinary.com/welshpower/image/upload/v1633434256/assets/images/cs_project_image/1633434255_11948_project-study-banbury-1-wide-planning.jpg' alt='...')
          figcaption.figure-caption Caption
        figure.figure
          img.figure-img.img-fluid.rounded.shadow.mt-2(src='https://res.cloudinary.com/welshpower/image/upload/v1633434255/assets/images/cs_project_image/1633434254_11948_project-study-banbury-2-wide-constrctn.jpg' alt='...')
          figcaption.figure-caption Caption
        figure.figure
          img.figure-img.img-fluid.rounded.shadow.mt-2(src='https://res.cloudinary.com/welshpower/image/upload/v1633434257/assets/images/cs_project_image/1633434256_11948_project-study-banbury-3-wide-2.jpg' alt='...')
          figcaption.figure-caption Caption



    .row 
      .col-12 
        h2.text-center.mb-1 Reserve power plant, Oxfordshire
      .col-12.offset-md-2.col-md-8 
        p
          | This 12MW gas fired reciprocating power plant is an example of a Welsh Power developed project, which we have seen through financing, construction and now continue to operate and maintain for the owner. 
        p
          | Welsh Power identified an area of undeveloped land close to the required gas and electrical connections. Whilst unsuitable for many other uses the site was an ideal candidate for the development of a flexible gas generation facility. 
        p
          | Development on this project commenced late 2017. The project was financed in April 2018 and became operational early 2019 after our team showed all their experience to overcome various construction and planning challenges, including:
        p
          | Electricity Cable Route – the busy public highway route selected pre-financing transpired not to be feasible due to congestion. As such, an alternative route was identified and all required easements were negotiated and agreed in a very short space of time with a third party landowner. 
        p
          | Gas Pipe Route - the easement route for the gas pipeline route ran across several different types of land, including a highway, public cycle path, beneath the River Cherwell and a country park footpath and involved working with the local council, the Environmental Agency and the Canal and River Trust.  
