section.contact-block-header.page-h-offset.mb-1
  .container.rounded-3.py-5
    .row
      .col
        h4.text-white.fs-2.fw-bold.px-5.mt-md-0.py-2.pe-5.col-md-6.pe-5.col-xs-12
          | Contact us to find out how we can help develop, delivery and asset manage your energy project.

section.py-5.news-list-block.contact.clearfix
    .container
        .row.col-11.mx-auto.mb-5
            .col-12.col-lg-6.order-2.order-lg-1
                h3.text-green.fw-lighter General Enquiries
                p.col-10
                    | To contact Welsh Power for all general enquiries please use the options below or the form. For Operations Desk and Accounts scroll down further.
                .pb-content
                    .pb
                      .section1
                          .row.mx-auto.w-100.align-items-top
                              .col-lg-9.col-md-8.col-sm-12.col-12.mt-md-1
                                  h4.fw-lighter Email us on
                                  p.fs-5.fw-bold.lh-0
                                    | info@welshpower.com
                      .section1
                          .row.mx-auto.w-100.align-items-top
                              .col-lg-9.col-md-8.col-sm-12.col-12.mt-md-1
                                  h4.fw-lighter Call us on
                                  p.fs-5.fw-bold.lh-0
                                    | +44 (0)2920 547200
                      .section1
                          .row.mx-auto.w-100.align-items-top
                              .col-lg-9.col-md-8.col-sm-12.col-12.mt-md-1
                                  h4.fw-lighter Write to us at
                                  p.fs-5.fw-bold.lh-0
                                    | info@welshpower.com
                   
                      .section1
                          .row.mx-auto.w-100.align-items-top
                              .col-lg-9.col-md-8.col-sm-12.col-12.mt-md-1
                                  h4.fw-lighter Email us on
                                  p.fs-5.fw-normal.lh-0
                                    | Welsh Power Group Limited Fourth Floor, 2 Kingsway, Cardiff CF10 3FD
                      .section1
                          .row.mx-auto.w-100.align-items-top
                              .col-lg-9.col-md-8.col-sm-12.col-12.mt-md-1
                                  h4.fw-lighter.mb-1 Connect with us on LinkedIn
                                
                                         
            .col-12.col-lg-6.order-1.order-lg-2.right-col
                .wrapper.position-relative
                    .ratio.ratio-1x1.img-block
                        img.img-fluid.rounded-4.contain.object-fit-cover(src="./img/6f7a8f6837529398c8188541927e6fc6.png")
                        //- img.img-fluid.rounded.contain.object-fit-cover(src='/img/09-30-24.jpg', alt='')
                    .bg-grey-block.ratio.ratio-1x1.z-n1 &nbsp;

