// HERO WITH GRAD

section.hero.blank.ratio.ratio-16x9.page-h-offset 
  .hero__background
    img(src="img/11948_people_hero.png" srcset="img/11948_people_hero.png 2x")
  .hero__wrapper.grad.gray
    .container
      .row
        .col.col-md-4.hero__text(data-aos="fade")
          h1.fs-2.lh-1.fw-bold Our talented employees offer our customers unrivalled depth of knowledge in the UK energy sector
   
