// HERO
//- .hero.ratio.ratio-21x9.page-h-offset
//-   .hero__background
//-     img(src="img/hero.png" srcset="img/hero.jpg 2x")
//-   .hero__wrapper
//-     .container
//-       .hero__text(data-aos="fade")
//-         h1.h1-title Maximising the Value of Customer Data
//-         p.p-bold We are delighted to announce that we will be working with Company X

section.hero.blank.ratio.ratio-16x9.page-h-offset 
  .hero__background
    img(src="img/WelshPower_HOME 1280x450_Expert_Asset_Managing.png" srcset="img/WelshPower_HOME 1280x450_Expert_Asset_Managing.png 2x")
  .hero__wrapper.grad.home
    .container
      .row
        .col.hero__text(data-aos="fade")
          h1.fs-2.lh-1.fw-bold Welsh Power is expert in developing, delivering and asset managing.
.hero--band
  span 
