// HERO
//- .hero.ratio.ratio-21x9.page-h-offset
//-   .hero__background
//-     img(src="img/hero.png" srcset="img/hero.jpg 2x")
//-   .hero__wrapper
//-     .container
//-       .hero__text(data-aos="fade")
//-         h1.h1-title Maximising the Value of Customer Data
//-         p.p-bold We are delighted to announce that we will be working with Company X

section.hero.page-h-offset.bg-tfMint
  div(class="container")
   div(class="hero__content d-flex row py-5")
    div(class="col-5 hero__content--left")
     h1(class="hero__mainTitle color-tfNavy size-72 f-900 lh-1 roboto-font")
       |Compliance  &amp; Adaption Services
     div 
      p(class="color-tfNavy size-24 f-400 roboto-font lh-s3 my-4")
       |Fire safety and property adaptations expert across the North West. We utilise the exceptional knowledge and skills of our passionate workforce to guarantee outstanding service
      <a class=" learnMoreBtn color-tfNavy roboto-font f-600 size-24 border-navy" href="#">Learn More</a>
    div(class="col-7")
     div(class="hero__content--imgs position-relative")
      img(src="img/hero-2.png" class="position-absolute img-fluid hero__content--imgs--1")
      img(src="img/hero-1.png" class="position-absolute img-fluid hero__content--imgs--2") 
      div(class="bg-tfYllow hero__content--imgs--3")
    
   