section.services.hero-block.bg-green.pb-3.mb-5 
  .container
    .row 
      .col-12.col-md-11
        p.fs-2.mt-2.mb-2 Magnim exerrum eaque earum eatur arumqui ducimoluptat esecusandunt occatenet latus aped eossuntium int, es doluptatenis sed maximol oratur aut autem faccatinti ut utatiur. 

