section.intro(data-aos="fade")
  .container.mt-4.mb-4 
    .row
      .col-12.col-md-8.offset-md-2 
        p
          | Welsh Power has a strong established reputation within the broader UK energy sector as a market innovator.
        p
          | We have been at the forefront of the evolving commercial and regulatory developments in the flexibility market and were instrumental in the development of the long term STOR service and have participated in the Capacity Market since its inception. [Sam can you include this para if there is room but delete if it makes it too long – we can keep this for the fact sheet if too long]
        p
          | With 550MW of flexible generation under management and a series of grid stability projects in construction and development, we play an important role in supporting a UK electricity network which is increasingly reliant on zero carbon but intermittent renewable energy sources.
        p
          | Welsh Power provides a comprehensive asset management service to a range of customers. We provide services including project development, funding, construction, operation, financial management, optimisation of assets and much more.
        p
          | We currently manage 33 individual assets for our clients, totalling 550MW of generating capacity. 400MW of this capacity was developed by Welsh Power’s in-house development team. These assets play a key part in enabling the UK to decarbonise ensuring there is sufficient flexibility available to the electricity network as output from other sources vary across the day and seasons.
        p
          | Welsh Power has used its skills, experience and knowledge to pursue strategic investment in grid stability, inertia and dynamic containment services, which play a key role in supporting a reliable decarbonised electricity network. These technologies strengthen the national electricity system and paves the way for National Grid to operate using more renewable electricity, replacing many of the network services historically provided by large coal and gas fired power stations. Welsh Power’s, Rassau development was one of the first to be awarded a long term contract for stability services in National Grid’s stability pathfinder tender.
        p
          | Working closely with our partners, Welsh Power is providing clean, flexible, distributed power and innovative grid stability solutions to support the UK’s transition to a net zero  sustainable energy system.
