section.intro(data-aos="fade")
  .container.mt-5.mb-5 
    .row
      .col-12.col-md-10.offset-md-1 
        p.text-center.fs-1.lh-1 Our highly experienced team is both professional and approachable. Expert, strategic and imaginative. What we all have in common is a passion for energy and the motivation to deliver consistently high standards for all our clients. 
        p.text-center.fs-1.lh-1 With Welsh Power you are in very safe hands.