.hero.blank.ratio.ratio-21x9.page-h-offset 
  .hero__background
    img(src="https://res.cloudinary.com/welshpower/image/upload/v1633434258/assets/images/cs_project_image/1633434257_11948_project-study-banbury-hero.jpg" srcset="https://res.cloudinary.com/welshpower/image/upload/v1633434258/assets/images/cs_project_image/1633434257_11948_project-study-banbury-hero.jpg 2x")
    .hero--band
      span &nbsp;     
