section.video.mb-3(data-aos="fade")
  .container
    .row
      .col-12
        .ratio.ratio-16x9
         video(controls='' autoplay='')
          source(src='https://media.publit.io/file/welshpower/assets/tillingham_time-lapse.mp4' type='video/mp4')
          | Your browser does not support the video tag.