header.vid.shadow.d-none.d-md-block.page-h-offset
  .overlay
  video(playsinline='playsinline' autoplay='autoplay' muted='muted' loop='loop')
    source(src='https://media.publit.io/file/welshpower/assets/tillingham_time-lapse.mp4' type='video/mp4')
    img(src="img/11948_electric-car-480x480.png" srcset="img/11948_electric-car-960x960.png 2x")
  .container.h-100.d-xs-none 
    .d-flex.h-100.align-items-center
      .col-md-6.text-white
        h1.display-5.lh-1 Video Headers
        p.lead.mb-0 Optional subline
  
.hero.blank.ratio.ratio-21x9.page-h-offset.d-block.d-md-none 
  .hero__background
    img(src="img/11948_electric-car-480x480.png" srcset="img/11948_electric-car-960x960.png 2x")
    
.hero--band
  span &nbsp;   