---
title: HomePage 
---
extends shared/_layout
block content

  include ../components/hero/_home.pug
  include ../components/section/_Helping-Local.pug
  include ../components/section/_speak.pug
  include ../components/news/_news_block_new.pug
  //- include ../components/section/_1col_center-block.pug 
  //- include ../components/section/_green-block.pug
    
  //- include ../components/hero/_intro-small.pug
  //- include ../components/section/_info.pug
  //- include ../components/section/_history.pug
  //- include ../components/timeline/_timeline.pug