---
title: Homepage
---
extends shared/_layout

block content
  include ../components/hero/_hero-grad.pug
  //- include ../components/section/_2-col-IL.pug
  //- include ../components/section/_green-block-hp.pug 
  //- include ../components/home/_home-intro.pug
  include ../components/news/_news-block.pug
  include ../components/projects/_projects.pug
            
  //- include ../components/section/_green-block-hp-2.pug 
    
  //- section.banner.mb-1 
  //-   .container
  //-     .row.justify-content-end
  //-       div.wrapper.position-relative
  //-         .col-12.banner-image
  //-           img.img-fluid(src="img/11948_Home-opportunities_hi-res 2.png", alt="")
  //-         .col-12.col-md-5.offset-md-7.banner-text
  //-           h2.text-center Creating opportunities
  //-           p.text-center 
  //-             | Welsh Power has grown significantly in ambition and scale in the last few years and our success is down to the heart of our company; our employee owners. If you’re interested in joining a highly motivated, dedicated team please get in touch. 
  //-           p.text-center 
  //-             a.btn.btn-danger.shadow(href="#") Get in touch
            


