---
title: Objects

extends shared/_layout

block content

  include ../components/benefits/_benefits.pug
  include ../components/cases/_cases.pug
  include ../components/hero/_home.pug 
  include ../components/hero/_intro-small.pug
  include ../components/hero/_intro.pug
  include ../components/hero/_video.pug
  //- include ../components/map/_map.pug
  // include ../components/section/_2-col-intro.pug
  include ../components/section/_history.pug
  include ../components/section/_info.pug
  include ../components/team/_banner.pug
  include ../components/team/_page.pug
  include ../components/testimonials/_testimonials.pug
  include ../components/text/_home-tabs.pug
  include ../components/text/_home.pug
  include ../components/timeline/_timeline.pug