---
title: People
---
extends shared/_layout
block content
  include ../components/hero/_people-hero.pug
  include ../components/section/_1col_center-block[people].pug
  // include ../components/team/_page.pug
  include ../components/team/_more.pug
  include ../components/team/_wider-team.pug
  include ../components/section/_careers.pug