---
title: Projects
---
extends shared/_layout
block content

  include ../components/hero/_projects-hero.pug
  include ../components/section/_2col_section_IR.pug

  include ../components/cases/_cases_article.pug

        
  include ../components/section/_quote_section_people.pug

  include ../components/projects/_projects.pug

  // include ../components/hero/_intro-small.pug
  //- include ../components/section/_info.pug
  //- include ../components/section/_history.pug
  //- include ../components/timeline/_timeline.pug