---
title: Services
---
extends shared/_layout
block content



  //- include ../components/hero/_inc_services_hero.pug 
  include ../components/hero/_home.pug
  section.mb-4.mt-4
    .container
      .row
        .col-md-6.mb-2
          img.img-fluid.d-block.mx-auto(src='/img/timeline/11948_WP_timeline-accreds.png' alt=''  data-aos="fade-right")
        .col-md-6.sec-content( data-aos="fade-left")
          div.title-strip.green
            span.pb-2.d-block
            h2.mb-1 Safety, Environment &amp; Quality 
          p.mb-3.mb-sm-1.col-md-10
          | Welsh Power can offer all the services necessary to successfully develop, construct, operate and optimise energy assets - operating to the highest standards, as proven by accreditation at 
          a(href='https://welshpower.3bitlabs.co.uk/assets/documents/13/1635239043_iso-45001-certificate.pdf' target='_blank' title='ISO 45001:2018') ISO 45001:2018
          | , 
          a(href='https://welshpower.3bitlabs.co.uk/assets/documents/13/1635239084_iso-9001-certificate.pdf' target='_blank' title='ISO 9001:2015') ISO 9001:2015
          |  and 
          a(href='https://welshpower.3bitlabs.co.uk/assets/documents/13/1635239066_iso-14001-certificate.pdf' target='_blank' title='ISO 14001:2015') ISO 14001:2015
          |  for safety, quality and environmental processes. Please contact us to discuss how we can help you.


          a.btn.btn-sm.btn-outline-success(href='#') Read More
 
  section.projects.services.mt-3 
    .container
      .row 
        .col-12.col-md-6.col-lg-4.project-item.mb-4
          div.icon
            i.icon-development-serv-
          h2 Development Services
          p.small Welsh Power undertakes the full development process from site identification, through land acquisition, connection management, design, consents, procurement, finance and due diligence. 
          a.btn.btn-outline-success.mt-1(href="#") Explore

        .col-12.col-md-6.col-lg-4.project-item.mb-4
          div.icon
            i.icon-construction-mgmt-ser
          h2 Construction Management Services
          p.small Welsh Power can manage the construction of flexible power plant, grid stability plant, battery storage and wind turbines projects in the value range of £5m-£100m. We work with established contractors who meet our stringent safety, quality and environmental standards, ensuring projects deliver on programme and budget.
          // a.btn.btn-outline-success.mt-1(href="#") Explore

        .col-12.col-md-6.col-lg-4.project-item.mb-4
          div.icon
            i.icon-opr-asset-mgm
          h2 Operational Asset Management 
          p.small Welsh Power undertakes the complete operational management of energy assets including maintenance, safety, regulatory management, trading and gas supply. Our resources, processes and systems effectively provide everything from 24/7 operations monitoring to cost reporting.
          a.btn.btn-outline-success.mt-1(href="#") Explore

        .col-12.col-md-6.col-lg-4.project-item.mb-4
          div.icon
            i.icon-compliance-reg-mgm
          h2 Compliance &amp; Regulatory Management
          p.small Welsh Power can lead an energy asset’s compliance and regulatory management including commercial matters such as revenue and cost reconciliation; including areas such as policy liaison and lobbying, settlement validation mechanisms the capacity market process. We can also arrange insurance covers.
          a.btn.btn-outline-success.mt-1(href="#") Explore 
              
        .col-12.col-md-6.col-lg-4.project-item.mb-4
          div.icon
            i.icon-commercial-mgmt-op
          h2 Commercial Management/ Optimisation
          p.small Welsh Power can manage an energy assets’ commercial management through the various stages of Strategy; Route to market; the relationship with National Grid; Commercial trading and support with Major contracting.
          a.btn.btn-outline-success.mt-2(href="#") Explore 

        .col-12.col-md-6.col-lg-4.project-item.mb-4
          div.icon
            i.icon-cost-management
          h2 Cost Management
          p.small Welsh Power has strong experience of Cost Management and Identifying Savings and Improvements. We can help you by undertaking gaps analysis and review of your current costs – and we can help develop an Operations Budget.  
          // a.btn.btn-outline-success.mt-1(href="#") Explore 

        .col-12.col-md-6.col-lg-4.project-item.mb-4
          div.icon
            i.icon-corp-fin-mgm
          h2 Corporate and Financial Management
          p.small Welsh Power can assist with your energy asset’s financial and corporate management.  From core services such as accounting, bookkeeping and cash management to financial reporting, accounts and audit. We can also offer excellent company secretarial services.
          a.btn.btn-outline-success.mt-1(href="#") Explore 
        


  include ../components/section/_green-block-hp-2[2].pug 

  section.intro.small(data-aos="fade")
    .container.mt-4.mb-4 
      .row
        .col-12.col-md-8.offset-md-2.lead 
          p
            | Dolores sanctus dolor diam kasd vero stet dolore justo accusam, at dolores lorem kasd tempor sed takimata. Clita labore et dolor lorem eirmod, sea amet eirmod sit sed sit, dolore amet consetetur et sed et est. Nonumy ut voluptua tempor labore aliquyam sed ipsum. Tempor rebum nonumy nonumy dolor elitr dolores. Sit eirmod diam sanctus accusam, rebum amet ipsum lorem accusam erat. Magna dolor invidunt gubergren sit, at invidunt duo diam tempor sanctus dolores amet nonumy sed, sadipscing sea at.
         
          a.btn.btn-secondary.shadow(type='button')
            +svgMono('pdf-fill')
            | Download Factsheet PDF (1.2mb)
            +svgMono('download')

      .row 
        .col-12.mb-3.mt-3 
          img.img-fluid.w-100.shadow(src="img/09-30-24.jpg", alt="" data-aos='fade-up')
    