
// TEAM BANNER
.team.mt-7.mb-5
  .container
    // .p-huge View More
    .row.mt-3
      .col-12.col-md-6.col-lg-4.mb-2(data-aos="fade-up")
        a(href="#").team-card
          .team-card__content
            .small Chief Executive
            .p-main Alastair Fraser
          .team-card__image
            img(src='img/people/alaister-ceo-th.png' srcset="img/people/alaister-ceo-th.png 2x")
          .team-card__content.clink
            .team-card__more
              span View profile
      .col-12.col-md-6.col-lg-4.mb-2(data-aos="fade-up")
        a(href="#").team-card
          .team-card__content
            .small Financial Controller
            .p-main Rachel Evans
          .team-card__image
            img(src='img/people/rachel-fc-th.png' srcset="img/people/rachel-fc-th.png 2x")
          .team-card__content.clink
            .team-card__more
              span View profile
      .col-12.col-md-6.col-lg-4.mb-2(data-aos="fade-up")
        a(href="#").team-card
          .team-card__content
            .small Brand & Marketing Director
            .p-main Name Surname
          .team-card__image
            img(src='img/people/graham-ops-director-th.png' srcset="img/people/graham-ops-director-th.png 2x")
          .team-card__content.clink
            .team-card__more
              span View profile
      .col-12.col-md-6.col-lg-4.mb-2(data-aos="fade-up")
        a(href="#").team-card
          .team-card__content
            .small Brand & Marketing Director
            .p-main Name Surname
          .team-card__image
            img(src='img/people/matthew-fd-th.png' srcset="img/people/matthew-fd-th.png 2x")
          .team-card__content.clink
            .team-card__more
              span View profile
      .col-12.col-md-6.col-lg-4.mb-2(data-aos="fade-up")
        a(href="#").team-card
          .team-card__content
            .small Brand & Marketing Director
            .p-main Name Surname
          .team-card__image
            img(src='img/people/peter-dev-director-th.png' srcset="img/people/peter-dev-director-th.png 2x")
          .team-card__content.clink
            .team-card__more
              span View profile
      .col-12.col-md-6.col-lg-4.mb-2(data-aos="fade-up")
        a(href="#").team-card
          .team-card__content
            .small Brand & Marketing Director
            .p-main Name Surname
          .team-card__image
            img(src='img/team-3.jpg' srcset="img/team-3@2x.jpg 2x")
          .team-card__content.clink
            .team-card__more
              span View profile