// TEAM BANNER
.team.page-h-offset.mb-5.mt-5
  .container.pt-4
    .team__crumb.mt-3(data-aos="fade-up")
      .team__crumb-position Chief Executive
        .hero--band.mt-1
          span &nbsp; 

    // content
    .team__content(data-aos="fade-up")
      .row.mt-3
        .col-12.col-md-6.mb-1
          h1.mt-0.mb-0 Alastair Fraser
          .p-main.mt-1.mb-1
            .fs-5.mb-2
              p Alastair joined Welsh Power in 2008. He has more than 30 years' experience in the finance and energy sector.
            p He is a Chartered Account with extensive deal experience.
            p Alastair has led Welsh Power through an MBO and the transition to an EOT. He is passionate about supporting National Grid's goal of operating the grid carbon-free.
            p
              strong Key Responsibilities
            p Suggest we can add an additional paragraph here to give an in sight into Alastair’s major duties across the business...
            

        .col-12.col-md-6
          .team-card.team-card--big
            .team-card__image
              img(src='img/people/alaister-ceo.jpg' srcset="img/people/alaister-ceo.jpg 2x")
            .team-card__content
              .p-regular Based in Cardiff and London
              .team-card__links
                //- a(href="mailto:#") Email Alistair Fraser
                a(href="https://linkedin.com" target="_blank") View on Linkedin
