section.gray.mt-3.mb-4 
    .container 
      .row 
        .col-12.text-center.mb-3.mt-3 
          h1 Meet the wider team
        .col-6.col-sm-6.col-md-4.col-xl-3.mb-2(data-aos="fade-up")
          .team-card__content.p-2
            .team-card__image.shadow-sm
              img.rounded(src='img/people/laura-davey-th.jpg' srcset="img/people/laura-davey-th.jpg 2x")
            .team-card__content.p-2.mt-1
              p.mb-0 
                strong Laura Davey 
              p.small Environmental Analyst - oversees the Group’s xxxxx plan etc.

        .col-6.col-sm-6.col-md-4.col-xl-3.mb-2(data-aos="fade-up")
          .team-card__content.p-2
            .team-card__image.shadow-sm
              img.rounded(src='img/people/rhodri-jones-th.jpg' srcset="img/people/rhodri-jones-th.jpg 2x")
            .team-card__content.p-2.mt-1
              p.mb-0 
                strong Rhodri Jones 
              p.small Operations Coordinator - plans xxxxxxx at xxxx sites in North Wales etc.

        .col-6.col-sm-6.col-md-4.col-xl-3.mb-2(data-aos="fade-up")
          .team-card__content.p-2
            .team-card__image.shadow-sm
              img.rounded(src='img/people/lisa-penfold-th.jpg' srcset="img/people/lisa-penfold-th.jpg 2x")
            .team-card__content.p-2.mt-1
              p.mb-0 
                strong Lisa Penfold 
              p.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quas esse magni maiores assumenda nesciunt.


        .col-6.col-sm-6.col-md-4.col-xl-3.mb-2(data-aos="fade-up")
          .team-card__content.p-2
            .team-card__image.shadow-sm
              img.rounded(src='img/people/laura-fry-th.jpg' srcset="img/people/laura-fry-th.jpg 2x")
            .team-card__content.p-2.mt-1
              p.mb-0 
                strong Laura Fry 
              p.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quas esse magni maiores assumenda nesciunt.


        .col-6.col-sm-6.col-md-4.col-xl-3.mb-2(data-aos="fade-up")
          .team-card__content.p-2
            .team-card__image.shadow-sm
              img(src='img/team-1.jpg' srcset="img/team-1@2x.jpg 2x")
            .team-card__content.p-2.mt-1
              p.mb-0 
                strong Name 
              p.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quas esse magni maiores assumenda nesciunt.


        .col-6.col-sm-6.col-md-4.col-xl-3.mb-2(data-aos="fade-up")
          .team-card__content.p-2
            .team-card__image.shadow-sm
              img.rounded(src='img/team-1.jpg' srcset="img/team-1@2x.jpg 2x")
            .team-card__content.p-2.mt-1
              p.mb-0 
                strong Name 
              p.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quas esse magni maiores assumenda nesciunt.


        .col-6.col-sm-6.col-md-4.col-xl-3.mb-2(data-aos="fade-up")
          .team-card__content.p-2
            .team-card__image.shadow-sm
              img.rounded(src='img/team-1.jpg' srcset="img/team-1@2x.jpg 2x")
            .team-card__content.p-2.mt-1
              p.mb-0 
                strong Name 
              p.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quas esse magni maiores assumenda nesciunt.


        .col-6.col-sm-6.col-md-4.col-xl-3.mb-2(data-aos="fade-up")
          .team-card__content.p-2
            .team-card__image.shadow-sm
              img.rounded(src='img/team-1.jpg' srcset="img/team-1@2x.jpg 2x")
            .team-card__content.p-2.mt-1
              p.mb-0 
                strong Name 
              p.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quas esse magni maiores assumenda nesciunt.

