.color-tfNavy{
    color: $tfNavy;
}
.tfYellow{
    color: $tfYellow;
}
.tfMint{
    color: $tfMint;
}
.bg-tfYllow{
    background-color: $tfYellow;
}
.bg-tfMint{
    background-color: $tfMint;
}
.bg-tfBlue{
    background-color: $tfBlue;
}