section.contact-block 
  .container.mb-4.mt-2
    .row.col-11.mx-auto.aos-init.aos-animate(data-aos='fade-up')
      .col-12.col-lg-11
        //- h1.mt-1 Write to us
        h3.fs-3.mb-1  Other enquiries

      .col-12.col-sm-6.col-lg-4.mb-1
        h3.fs-4 Operations Desk
        p.fs-4
          | +44 (0)3330 156666
        a.btn.btn-outline-success.mb-2(href='mailto:info@welshpower.com' role='button')
          | Email Operations Desk
      .col-12.col-sm-6.col-lg-4.mb-2
        h3.fs-4 Accounts
        p.fs-4
          | +44 (0)2920 547205
        a.btn.btn-outline-success.mb-2(href='mailto:info@welshpowerom.com' role='button')
          | Email accounts