// HEADER :: START
header.header
  .header__container.js-container-align(data-position="right" data-selector=".header")
    .header__wrapper
      .flex-wrapper.flex-fill
        a(href="homepage.html").header__logo

          img.img-fluid(src='img/WelshPower_LOGO_w_stapline.svg')
          //- svg.ico.ico-color-logo
          //-   use(xlink:href='/img/logo.svg')
          //- +svgColor("logo_welsh")
          //- img.img-fluid(src='img/wplogo_2.png')
      div 
        ul.nav-secondary.col-lg-auto.me-lg-auto.mb-md-0.d-none.d-lg-block.text-end.m-0
          li 
            a(href="#") Contact us
          li 
            a(href="#") News &amp; Careers  
        ul.nav.col-lg-auto.me-lg-auto.mb-md-0.d-none.d-lg-block
          li
            a.nav-link.px-2.link-dark(href='#') Home
          li
            a.nav-link.px-2.link-dark(href='#') Asset Management
          li
            a.nav-link.px-2.link-dark(href='#') Developing and Delivering Assets
          li
            a.nav-link.px-2.link-dark.active(href='whyWP.html') Why Welsh Power              
      .header__hamburger.d-lg-block.d-lg-none
        .hamburger.hamburger--squeeze(js-hamburger)
          .hamburger-box
            .hamburger-inner

// MOBILE NAVI
.mobile-navi
  .mobile-navi__wrapper
    .mobile-navi__background
    .mobile-navi__panel.d-flex.align-items-end.flex-column.shadow-lg
      ul.mobile-navi__menu.w-100
        li
          a(href="homepage.html") Home
        li
          a(href="#") Asset Management
        li
          a.active(href="#") Developing and Delivering Assets
        li
          a(href="whyWP.html") Why Welsh Power
      ul.mobile-navi__menu.small-sub.w-100
        li
          a(href="homepage.html") Contact us
        li
          a(href="homepage.html") News &amp Careers
      ul.mobile-navi__menu.small.mt-auto.w-100
        li
          a(href="#") Terms &amp; conditions

        li
          a(href="#") Privacy notice &amp; policy
        li
          a.active(href="#") Pwer Cymru - Cymraeg