
.wrapper
  .container.time-line-block 
    .row 
      .col-12.col-md-8.offset-md-2.text-center.mt-3.mb-4   
        p.fs-1 We deliver value for our partners. Our track record speaks for itself.

  .container
    
    .timeline-holder.mb-4
      .row.timeline-list.align-items-center.g-0
        .line-item.col-12.col-md-6
          img(src='img/timeline/11948_WP_timeline-uskmouth.jpg' alt='image description')
        .line-item.col-12.col-md-6(data-year='2004')
          .row.g-0.py-4.justify-content-md-start.justify-content-end
            .col-9.col-md-8
              | With backing from Rutland Partners, Welsh Power acquired Uskmouth Power Limited, a 360MW coal plant and brought it back into service. 
      .row.timeline-list.align-items-center.g-0
        .line-item.col-12.col-md-6
          img(src='img/img02.png' alt='image description')
        .line-item.col-12.col-md-6(data-year='2006')
          .row.g-0.py-4.justify-content-md-start.justify-content-end
            .col-9.col-md-8
              | Rutland Partners successfully exited Uskmouth Power Limited - and we brought in new finance partners. Uskmouth had become one of the most reliable plants in the UK and is recognised as a true turnaround success. 
     
      .row.timeline-list.align-items-center.g-0
        .line-item.col-12.col-md-6
          img(src='img/img02.png' alt='image description')
        .line-item.col-12.col-md-6(data-year='2006')
          .row.g-0.py-4.justify-content-md-start.justify-content-end
            .col-9.col-md-8
              | Haven Power, an electricity supply business for commercial and industrial customers, based in Ipswich was launched. Within two years, Haven was a major independent energy supplier with some 25,000 SME customers, turning over £100m and with the systems and process to robustly manage the customer base.  
 
     
     
      .row.timeline-list.align-items-center.g-0
        .line-item.col-12.col-md-6
          img(src='img/timeline/11948_WP_timeline-severnpower.jpg' alt='image description')
        .line-item.col-12.col-md-6(data-year='2008')
          .row.g-0.py-4.justify-content-md-start.justify-content-end
            .col-9.col-md-8
              | Construction began on Severn Power Limited, an 850MW CCGT plant near Newport which was developed by Welsh Power. We raised in excess of £600m of debt and equity finance to fund this major project. 

      .row.timeline-list.align-items-center.g-0
        .line-item.col-12.col-md-6
          img(src='img/img04.png' alt='image description')
        .line-item.col-12.col-md-6(data-year='2009')
          .row.g-0.py-4.justify-content-md-start.justify-content-end
            .col-9.col-md-8
              | Severn Power Limited, an 850MW CCGT plant in South Wales was sold to DONG Energy. It is the only major UK gas plant that has been developed, financed and built by an independent energy company in the last 25 years. 

      .row.timeline-list.align-items-center.g-0
        .line-item.col-12.col-md-6
          img(src='img/timeline/11948_WP_timeline-2009 sold to Drax.png' alt='image description')
        .line-item.col-12.col-md-6(data-year='2009')
          .row.g-0.py-4.justify-content-md-start.justify-content-end
            .col-9.col-md-8
              | Haven Power was sold to Drax Power plc. At the time, it was one of only a small number of successful energy supply start-ups in the UK since privatisation of the sector in the 1990s. 
 


      .row.timeline-list.align-items-center.g-0
        .line-item.col-12.col-md-6
          img(src='img/timeline/11948_WP_timeline-uskmouth.jpg' alt='image description')
        .line-item.col-12.col-md-6(data-year='2009')
          .row.g-0.py-4.justify-content-md-start.justify-content-end
            .col-9.col-md-8
              | Uskmouth Power Limited, the 360MW coal plant that we had given new life to, was sold to SSE.  
      .row.timeline-list.align-items-center.g-0
        .line-item.col-12.col-md-6
          img(src='img/img04.png' alt='image description')
        .line-item.col-12.col-md-6(data-year='2011')
          .row.g-0.py-4.justify-content-md-start.justify-content-end
            .col-9.col-md-8
              | The Welsh Power team acquired the business in an MBO. The team embarked on a new phase focused on small-scale distributed gas generation aimed at supporting changes in the underlying nature of the UK’s energy system.  


      .row.timeline-list.align-items-center.g-0
        .line-item.col-12.col-md-6
          img(src='img/img04.png' alt='image description')
        .line-item.col-12.col-md-6(data-year='2014')
          .row.g-0.py-4.justify-content-md-start.justify-content-end
            .col-9.col-md-8
              | A portfolio of some 50MW of peak power plant was sold to Alkane Energy Limited. 
  
      .row.timeline-list.align-items-center.g-0
        .line-item.col-12.col-md-6
          img(src='img/img04.png' alt='image description')
        .line-item.col-12.col-md-6(data-year='2014')
          .row.g-0.py-4.justify-content-md-start.justify-content-end
            .col-9.col-md-8
              | Welsh Power formed a strategic partnership with a financial investor, leading the development, construction and operation of a new, extensive portfolio of 26 flexible, high efficiency, low emission gas fired reciprocating engine power plant. Totalling nearly 430MW, the assets support the energy transition towards a net zero carbon energy system.
 
  
      .row.timeline-list.align-items-center.g-0
        .line-item.col-12.col-md-6
          img(src='img/img04.png' alt='image description')
        .line-item.col-12.col-md-6(data-year='2018')
          .row.g-0.py-4.justify-content-md-start.justify-content-end
            .col-9.col-md-8
              | In 2018, we became a fully employee-owned organisation providing us with a robust and aligned ownership structure from which to deliver the next stage of our growth.

 
      .row.timeline-list.align-items-center.g-0
        .line-item.col-12.col-md-6
          img(src='img/img04.png' alt='image description')
        .line-item.col-12.col-md-6(data-year='2019')
          .row.g-0.py-4.justify-content-md-start.justify-content-end
            .col-9.col-md-8
              | Welsh Power’s Health, Safety, Environmental and Quality Management System was accredited and certified to: ISO45001:2018 (safety); ISO14001:2015 (environment); and ISO9001:2015 (quality). The accreditations demonstrate our ongoing commitment to safety, environment and quality. 

 
      .row.timeline-list.align-items-center.g-0
        .line-item.col-12.col-md-6
          img(src='img/timeline/11948_WP_timeline-accreds.png' alt='image description')
        .line-item.col-12.col-md-6(data-year='2019')
          .row.g-0.py-4.justify-content-md-start.justify-content-end
            .col-9.col-md-8
              | We expanded our service offering to include developing grid stability facilities – a new market in the UK. We continue to work on a pipeline of developments across the UK, with facilities that will support National Grid Electricity System Operator's goal of operating the grid carbon-free by 2025.
      .row.timeline-list.align-items-center.g-0
        .line-item.col-12.col-md-6
          img(src='img/img04.png' alt='image description')
        .line-item.col-12.col-md-6(data-year='2020')
          .row.g-0.py-4.justify-content-md-start.justify-content-end
            .col-9.col-md-8
              | Welsh Power became the Management Services Provider for an additional 122MW of flexible generation facilities – bringing our total MW under management to 550MW. 

  
      .row.timeline-list.align-items-center.g-0
        .line-item.col-12.col-md-6
          img(src='img/timeline/11948_WP_timeline-rassau.jpg' alt='image description')
        .line-item.col-12.col-md-6(data-year='2020')
          .row.g-0.py-4.justify-content-md-start.justify-content-end
            .col-9.col-md-8
              | Our first grid stability development project was awarded a pathfinder contract to provide stability services to National Grid ESO in Rassau, Wales. Construction of a 60MVa grid stability facility, with a synchronous condenser and flywheel began early September. We are managing the EPC Contractor Siemens and the asset will play a key role in National Grid ESO’s approach to managing the stability of the electricity system and will facilitate the deployment of more renewable energy projects to help meet the target of operating the electricity system carbon free by 2025. 

  
      .row.timeline-list.align-items-center.g-0
        .line-item.col-12.col-md-6
          img(src='img/img04.png' alt='image description')
        .line-item.col-12.col-md-6(data-year='2021')
          .row.g-0.py-4.justify-content-md-start.justify-content-end
            .col-9.col-md-8
              | Expansion continues into management of battery storage projects, with Welsh Power developing a pipeline of battery projects across the UK and managing the construction of a 20MW battery storage site.

 

