section.intro(data-aos="fade")
  .container.mt-5.mb-5 
    .row
      .col-12.col-md-8.offset-md-2 
        p.text-center.fs-1 Welsh Power currently deliver in excess of 550MWs of flexible generation. In addition, multiple grid stability projects are currently in development or under construction around the UK.
