section.mt-4.mb-4.intro-2-col
  .container 
    .row 
    
      .col-12.col-md-6(data-aos='fade-right')
        img.img-fluid.w-100.mb-2.rounded.shadow(src="img/wp_temp_image.jpg", alt="")

      .col-12.col-md-6.col-lg-5(data-aos='fade-left')
        p.fs-2 In a world rethinking its relationship with energy, Welsh Power leads the way in development and asset management of flexible power, grid stability and battery technologies.
