section.mt-4.intro-2-col
  .container 
    .row 
      .col-12.col-md-6.order-md-2.offset-md-1(data-aos='fade-left')
        img.img-fluid.w-100.mb-2.rounded.shadow(src="https://res.cloudinary.com/welshpower/image/upload/v1633434253/assets/images/cs_project_image/1633434253_11948_project-study-banbury_roads-sq.jpg", alt="")

      .col-12.col-md-5.order-md-1.mb-2(data-aos='fade-right')
        p.pl-1.fs-2 A modern 12MW gas fired reciprocating plant, brought to fruition by the Welsh Power team in 2019 to supply reserve energy in Oxfordshire, UK.