section.page-h-offset.strip.green.clearfix.mb-4
  div.container.thumbnail.mb-4
    img.img-fluid.float-end.col-12.col-xl-10.shadow.rounded(src='img/wp-temp-Careers.jpg' alt='' data-aos="fade-left")
    .caption.caption-green.col-12.mb-4.float-start(data-aos="fade-right")
      .caption-inner.col-md-6
        .caption-content.p-4
          h2.title Careers at Welsh Power
          p As our business grows, we will continue to recruit the very best people to join our team. 
          p
          | Our current advertised roles 
          a(href='#') can be found here
          |  but we are always keen to hear from talented individuals, therefore, if you want to play a critical part in the energy market of the future please get in touch.
          p.mt-1
            a.btn.btn-outline-success(href='mailto:careers@welshpower.com') Email us
.clearfix 



 
