section.page-h-offset.strip.green.clearfix.mb-4
  div.container.thumbnail.mb-4
      img.img-fluid.float-end.col-12.col-xl-10.rounded.shadow(src='img/wp_temp_image2.jpg' alt='' data-aos="fade-left")
      .caption.caption-green.col-12.mb-4.float-start(data-aos="fade-right")
        .caption-inner.col-md-6
          .caption-content.p-4
            h2.title How we deliver
            p Welsh Power’s asset management activities cover development, funding, construction, operation, financial management and optimisation of assets. 
      
.clearfix          


  //- section.page-h-offset.strip.green.clearfix.mb-4
  //-   div.container.thumbnail.mb-4
  //-     img.img-fluid.float-end.col-12.col-xl-10(src='img/wp-temp-Careers.jpg' alt='' data-aos="fade-left")
  //-     .caption.caption-green.col-12.mb-4.float-start(data-aos="fade-right")
  //-       .caption-inner.col-md-6
  //-         .caption-content.p-4
  //-           h2.title Careers at Welsh Power
  //-           p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae rem, eos quae earum asperiores, nemo voluptates vitae at maiores dolorem ullam inventore ipsum aliquam pariatur, fugit vero omnis reiciendis. Velit. 
  //-           a.btn.btn-outline-success(href='#') Email us
  //- .clearfix     