section.page-h-offset.strip.green.clearfix.mb-2
  div.container.thumbnail.mb-4
      img.img-fluid.float-end.col-12.col-xl-10.rounded.shadow(src='img/wp_temp_image2.jpg' alt='' data-aos="fade-left")
      .caption.caption-green.col-12.mb-4.float-start(data-aos="fade-right")
        .caption-inner.col-md-6
          .caption-content.p-4
            h2.title Our Services
            p From development, construction and operations, to electricity trading, supply and grid stability services, it is our depth of experience that ensures we deliver high quality services for all our customers. 
            a.btn.btn-outline-success(href="#") read more      
              
.clearfix