section.page-h-offset.strip.green.clearfix.mb-2
  div.container.thumbnail.mb-4
      img.img-fluid.float-end.col-12.col-xl-10.rounded.shadow(src='img/wp-image.png' alt='' data-aos="fade-left")
      .caption.caption-green.col-12.mb-4.float-start(data-aos="fade-right")
        .caption-inner.col-md-6
          .caption-content.p-4
            h2.title A sustainable future 
            p As the UK electricity system evolves to become greener and works towards its target to operate carbon free by 2025, we are at the forefront of this changing environment with our stability development projects being designed to strengthen the electricity system and leading the way for grid to operate carbon-free.   
              
.clearfix