// history section

section.page-h-offset.strip.grey#company-history
  div.container.thumbnail
    img.img-fluid.float-end.shadow.rounded(src='img/wp_history.jpg' alt='' data-aos="fade-left")
    .caption.caption-red.col12.float-start(data-aos="fade")
      .caption-inner.col-md-6
        .caption-content.p-4
          h2.title Company History
          p Since formation, Welsh Power’s team has grown substantially with our unique entrepreneurial spirit setting us apart in the UK Energy Sector. We have continuously sought new opportunities created by an energy market that is constantly seeing significant change and challenge.
.clearfix 