// info section

section.page-h-offset.strip.green.clearfix
  div.container.thumbnail
    img.img-fluid.float-end.shadow.rounded(src='img/wp-image.png' alt='' data-aos="fade-left")
    .caption.caption-green.col12.float-start(data-aos="fade")
      .caption-inner.col-md-6
        .caption-content.p-4
          h2.title Unrivaled experience
          p Welsh Power is an employee-owned company with a unique entrepreneurial track record in the UK Energy Sector. Our talented employees have many years of experience in the energy sector offering our customers an unrivalled depth of knowledge
          a.btn.btn-sm.btn-outline-danger(href='https://www.trentbridge.co.uk/cricket/index.html' role='button') Our People
.clearfix 

section.mb-4.mt-4
  .container
    .row
      .col-md-6.mb-2
        img.img-fluid.d-block.mx-auto(src='img/wp-image-sm.jpg' alt=''  data-aos="fade-right")
      .col-md-6( data-aos="fade-left")
        div.title-strip.red
          span.pb-2.d-block
          h2.mb-1 Safety, Environment &amp; Quality 
        p.mb-3.mb-sm-1.col-md-10
          | Everything we do, we aim to do safely and to an exacting standard. As an organisation, we have ISO accreditation at ISO 45001:2018, ISO 9001:2015 and ISO 14001:2015 for our safety, quality and environmental processes.
        a.btn.btn-sm.btn-outline-danger(href='#') Read More
