section.gray.mt-4.quote 
  .container
    .row 
      .col-12.col-md-8.offset-md-2.my-5
        p.fs-1.fw-lighter.text-center “This is a major milestone for UK grid stability... our facility can provide approximately one per cent of the inertia needed to operate the grid safely - with zero emissions.” 
      
