section.gray.quote 
  .container
    .row 
      .col-12.col-md-8.offset-md-2.my-5
        p.fs-1.fw-lighter.text-center “We have taken this project through financing, planning and construction - now operating it successfully for the plant’s owner” 
      
