section.home__contact__block 
    .container 
        .row 
            .col.col-md-8.text-center.mgrey.offset-md-1.mx-auto
                h3.fw-light.mb-1.lh-1 If you are interested in working with us to develop or deliver assets or have land available then please get in touch.
                a.btn.btn-md.btn-outline-success Contact us