section.intro-welcome(data-aos="fade")
  .container.mb-5.py-5 
    .row.mb-2.text-center 
        h2.text-white Welcome to Welsh powers

    .row.row-cols-1.row-cols-lg-3.g-4.text-center
        .col
            .card.shadow
                .card-body
                    h3.card-title What we do
                
                    p.p-lg-4.card-text
                        | From development, construction and operations, to electricity trading, supply and grid stability services.
                    a.btn.btn-sm.btn-outline-secondary.card-link(href='#') Find our More
                
        .col
            .card.shadow
                .card-body
                    h3.card-title Developing Assets
                
                    p.p-lg-4.card-text
                        | Discover our flexible generation and grid stability projects around the UK…
                        | &nbsp;
                        | &nbsp;
                    a.btn.btn-sm.btn-outline-secondary.card-link(href='#') Find our More
        .col.mx-sm-auto       
            .card.shadow
                .card-body
                    h3.card-title Why Welsh Power
                
                    p.p-lg-4.card-text
                        | Our highly experienced team is both professional and approachable. Expert, strategic and imaginative.
                    a.btn.btn-sm.btn-outline-secondary.card-link(href='#') Find our More
                

    //- .row        
    //-     .col-12.col-sm-6.col-md-4
    //-         p  Welsh Power currently deliver in excess of 550MWs of flexible generation. In addition, multiple grid stability projects are currently in development or under construction around the UK.
    //-     .col-12.col-sm-6.col-md-4
    //-         p tet 
    //-     .col-12.col-sm-6.col-md-4.m-sm-auto
    //-         p ptest 2