// FOOTER :: START
footer.footer
  .footer__top
    .container
      //- .row 
      //-   .d-flex.p-2
      //-     .w-100           
      //-       img.img-fluid(src='img/logo.svg')

      //-     .flex-shrink-1 twp 
      .row
        .col-12.col-md-4
          img.img-fluid.d-sm-block.mx-sm-auto.mx-md-0(src='img/welshpower_logo.png')


        .col-12.col-sm-12.col-md-8 
          .d-xl-flex.flex-row.flinks.mt-1
            p 
              a(href="#") Download Welsh Power Factsheet
            p
              a(href="#") Contact us
          .d-xl-flex.flex-row.flinks
            p  
              a(href="#") Terms &amp; conditions 
            p
              a(href="#") Privacy notice & policy 
            p
              a(href="#") Pŵer Cymru - Cymraeg

              
       

// FOOTER :: END